.menu__item {
 font-family: 'Roboto';
}

.main-content__title {
 font-family: PT Serif;
 }

.main-content__subtitle {
 font-family: 'Roboto'; sans-serif;
}

.main-content__button {
font-family: 'Roboto';
}
