.main {
 padding: 0 63% 100px 0;
 background: top right no-repeat url(img/Frame.svg);
}
.main__title-text_highlight {
 background: #ECF3FF;
}
.main__title {
 margin:0 0  40px 0;
 /*font-family: 'PT Serif';*/
 font: bold 50px/65px pt_serifbold, arial, helvetica, sans-serif;
 }
 .main__subtitle {
  margin:0 0 41px 0;
    font: 18px/21px Roboto, arial, helvetica, sans-serif;
 }
 .main__button {
  font: 14px/16px Roboto, arial, helvetica, sans-serif;
 }

.menu__item {
  position: relative;
  margin-right: 26px;
  font-family: 'Roboto';
  font: 500 24px/32px robotoregular, arial, helvetica, sans-serif;
  color: #000000;
  text-decoration: none;
 }

.menu {
  display: inline-block;
  display: flex;
  align-items: center;
}
.menu__item:last-child{
  margin-right: 0;
}
.menu__item_active::after {
  position: absolute;
  display: block;
  content:'';
  left: 0;
  width: 100%;
  height: 3px;
  background: #0056EC;
}
.menu__item:hover {
  opacity: 0.5;
}
.wrapper{
  margin: auto;
  width: 80%;
}
.logo{
  position: relative;
  padding: 40px 0;
  padding-left: 44px;
  font:bold 24px/32px pt_serifbold, arial, helvetica, sans-serif;
  }
.logo__circle {
  position: absolute;
  left:0;
  top:45%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  opacity: .7;
}
.logo__circle_color_dark-blue {
width: 28px;
height: 28px;
border-radius: 50%;
background: #0056EC;
}
.logo__circle_color_blue {
left: 8px;
top: 56%;
border-radius: 50%;
width: 28px;
height: 28px;
background: #C8DBFB;
}
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.section{
position: relative;
margin-right: 26px;
font-family: 'Roboto';
font: 500 24px/32px robotoregular, arial, helvetica, sans-serif;
color: #000000;
text-decoration: none;
}
.main__button{
display: inline-block;
font: 14px/16px Roboto, arial, helvetica,sans-serif;
color: #fff;
background:#0056ec;
padding: 14px 16px;
text-decoration: none;
border-radius: 4px;
transition: opacity .5s;
}
.main__button:hover {
  opacity: .5;
}
