.menu__item {
   font-family: 'Roboto';
}
.main-content__title {
   font-family: 'PT Serif';
 }
.main-content__subtitle {
   font-family: 'Roboto', sans-serif;
}
.main-content__button {
  font-family: 'Roboto';
}

.wrapper{
  margin: auto;
  width: 80%;
  border: dashed 1px red;
}
.menu {
  display: inline-block;
  border: dashed 1px red;
}
.logo{
  /*margin: 63%*/
  position: relative
  display: block;
   padding: 40px 0;
   padding-left: 44px 0;
   font:bold 24px/32px pt_serifbold, arial, helvetica, sans-serif;
  width: 190px;
  height: 35px;
  border: dashed 1px red;
  /*background: no-repeat center center url('img/logo.svg');*/
  }
  .logo__circle {
 width: 28px;
 height: 28px;
 border: dashed 1px red;
 /*position: relative;*/
 position: absolute;
 top:50%;
 transform: translateY(50%);

}

.logo__circle_color_dark-blue{
/*position: relative;
  transform: translateY(-50%);*/
width: 28px;
height: 28px;
border-radius: 50%;
/*left: 50px;*/
/*top: 40px;*/
background: #0056EC;
opacity: 0.7;
}
.logo__circle_color_blue{
left: 8px;
top: 56%;
position: relative;
/*top: 50%*/
border-radius: 50%;
width: 28px;
height: 28px;
/*left: calc(50% - 28px/2 - 442px);*/
/*top: 47px;*/
background: #C8DBFB;
opacity: 0.7;
}
.header{
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}
.menu{
  display: flex;
  align-items: center;
}
.menu__item{
  padding: 0 13px;
  border: dashed 1px red
}
.menu__item:last-child{
  padding-right: 0;
}
